In [37]:
import pandas as pd
import numpy as np

In [54]:
data = pd.DataFrame({'X1':[-1.58,0.91,-0.73,-4.22,4.19,-0.33],'X2':[-2.01,3.98,4.00,1.16,-2.02,2.15]})

In [98]:
first_x1 = np.round((data.X1.max()+data.X1.min())/2,4)

In [99]:
print('First X1 Split = ',first_x1)

First X1 Split =  -0.015

In [100]:
node1_0 = data[data.X1<first_x1]
node1_1 = data[data.X1>=first_x1]

In [101]:
node1_1

     X1    X2
1  0.91  3.98
4  4.19 -2.02

In [102]:
node1_0

     X1    X2
0 -1.58 -2.01
2 -0.73  4.00
3 -4.22  1.16
5 -0.33  2.15

In [103]:
second_x2 = np.round((node1_0.X2.max()+node1_0.X2.min())/2,4)

In [104]:
print('Second X2 Split = ',second_x2)

Second X2 Split =  0.995

In [80]:
node1_0_0 = node1_0[node1_0.X2<second_x2]
node1_0_1 = node1_0[node1_0.X2>=second_x2]

In [81]:
node1_0_0

     X1    X2
0 -1.58 -2.01

In [82]:
node1_0_1

     X1    X2
2 -0.73  4.00
3 -4.22  1.16
5 -0.33  2.15

In [96]:
third_x1 = np.round((node1_0_1.X1.max()+node1_0_1.X1.min())/2,4)

In [97]:
print('Third X1 Split = ',third_x1)

Third X1 Split =  -2.275

In [87]:
node1_0_1_0 = node1_0_1[node1_0_1.X1<third_x1]
node1_0_1_1 = node1_0_1[node1_0_1.X1>=third_x1]

In [88]:
node1_0_1_0

     X1    X2
3 -4.22  1.16

In [89]:
node1_0_1_1

     X1    X2
2 -0.73  4.00
5 -0.33  2.15